@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

p,
ul {
  color: gray;
  margin-bottom: 2px;
}

section {
  margin-bottom: 8px;
}

.hero-bg {
  display: flex;
  background: radial-gradient(circle,
      rgb(204, 188, 230) 10%,
      rgb(255, 255, 255) 50%);
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: radial-gradient(circle, rgb(14, 4, 4) 0%, rgb(14, 1, 51) 100%);
  padding: 20px;
  gap: 20px;
  min-height: 200px;
}

.cta-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: black;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  text-align: center;
}

.cta-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg,
      rgb(255, 244, 97) 0%,
      rgb(187, 61, 255) 50%,
      rgb(142, 23, 23) 100%);
  z-index: -1;
  border-radius: inherit;
}

.cta-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: black;
  z-index: -1;
  border-radius: inherit;
}

.cta-button:hover {
  color: rgb(237, 246, 133);
  background: white;
}

.footer-bg {
  background: radial-gradient(circle, rgb(14, 4, 4) 0%, rgb(14, 1, 51) 100%);
  color: white;
  text-align: center;
  padding: 20px;
}

.centeredcontainer {
  width: 100vw;
  height: auto;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  /* Adjust spacing as needed */
}

html {
  scroll-behavior: smooth;
}